language: node_js

node_js:
  - 'node'

script:
  - yarn lint
  - yarn validate:lockfile
  - yarn validate:ts
  - yarn test

deploy:
  provider: npm
  email: $NPM_EMAIL
  api_key: $NPM_TOKEN
  skip_cleanup: true
  on:
    tags: true

notifications:
  email: false
  webhooks:
    urls:
      - https://fathomless-fjord-24024.herokuapp.com/notify
    on_success: always # default: always
    on_failure: always # default: always
    on_start: change # default: never
    on_cancel: always # default: always
    on_error: always # default: always
